



@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
$title-font: 'Roboto Slab', serif;




/* Page elements */

#epub{


	a{
		color: $base-colour;
		&:hover{
			color: darken($base-colour,15);
		}
	}
	h2,h3,h4{
		font-family: $title-font;
	}

	h2{
		color: #fff;
		padding: 0 0.5em;
		line-height: 1.6em;
		background-color: $base-colour;
	}
	h4{
		font-weight: 700;
	}
	
	h5{
		text-transform: uppercase;
		font-weight: 400;
	}
	
	figcaption{
		padding-left: 25px;
		background-size: 14px auto;
		@include svg-bg("../images/ui/figure-arrow", no-repeat, 0 15px);
	}
	blockquote{
		border:none;
		color: #000;
		p{color:#000;}
	}
	cite{
		text-align: right;
		color: #000;
		&:before{
			content: "";
		}
	}

	.table{
		clear: both;
		h4{color:$base-colour}
	}
	table{
		tr{
			th{
				background-color:$base-colour;
				color: #fff;
				border-bottom: 5px solid #fff;
				text-align: center;
				line-height: 1.3em;
				font-size: 0.95em;
			}
			td{
				background-color:lighten($base-colour,40);
				border-right: 5px solid #fff;
			}
			td:last-child{
				border:none;
			}
		}
	}
	sup,sub{
		padding-right: 8px;
	}


}



/* Tooltips
================================================ */
$tooltip-padding: 1em;

.has-tip{
	color:$tooltip-color;
	border:none;
	&:hover{
		color:darken($tooltip-color,30);
	}
}
.tooltip{
	padding: $tooltip-padding;
	.nub{
		border-color: transparent transparent #b1b1a6 transparent;
	}
}